<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevBook - Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
<div class="container-login">
    <div>
        <form action="devbook-form" id="login">
            <span>Seja bem vindo ao devbook</span>
            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
            </div>
            <div>
                <input type="submit" value="Entrar">
            </div>
            <div>
                <a href="devbook-form">Não tem uma conta? Cadastre-se</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>