<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/register.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/image/devbook.png" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="login-container">
        <h1>Criar uma conta no DevBook</h1>
        <form>
            <label for="name">Nome completo</label>
            <input type="text" id="name" name="name" placeholder="Digite seu nome completo">

            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Digite seu endereço de e-mail">

            <label for="nickname">Nickname</label>
            <input type="text" id="nickname" name="nickname" placeholder="Digite um nickname para sua conta">

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Digite uma senha">

            <label for="confirm-password">Confirme sua senha</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Digite novamente sua senha">

            <button class="login-btn" type="submit">Cadastrar</button>
        </form>
        <div class="register-icon">
            <a href="/login"><img class="enter-login" src="../assets/image/enter-4.png" alt="ícone de registro"></a>
        </div>
    </div>
</div>
</body>
</html>
