:root {
    --black: #15141b;
    --white: #edecee;
    --gray: #6d6d6d;
    --purple: #a277ff;
    --purple-fading: #3d375e7f;
    --green: #61ffca;
    --orange: #ffca85;
    --pink: #f694ff;
    --blue: #82e2ff;
    --red: 	#ff6767;

    --background-color: var(--black);
    --foreground-color: var(--white);
    --muted-color: var(--gray);
    --selection-color: var(--purple-fading);
    --primary-color: var(--purple);
    --secondary-color: var(--green);
    --tertiary-color: var(--orange);
    --quaternary-color: var(--pink);
    --quinary-color: var(--blue);
    --senary-color: var(--red);

    --warning-color: var(--orange);
    --success-color: var(--green);
    --error-color: var(--red);

    --black-soft: #15141b;
    --white-soft: #bdbdbd;
    --gray-soft: #6d6d6d;
    --purple-soft: #8464c6;
    --purple-fading-soft: #3d375e7f;
    --green-soft: #54c59f;
    --orange-soft: #c7a06f;
    --pink-soft: #c17ac8;
    --blue-soft: #6cb2c7;
    --red-soft: #c55858;

    --background-soft-color: var(--black-soft);
    --foreground-soft-color: var(--white-soft);
    --muted-soft-color: var(--gray-soft);
    --selection-soft-color: var(--purple-fading-soft);
    --primary-soft-color: var(--purple-soft);
    --secondary-soft-color: var(--green-soft);
    --tertiary-soft-color: var(--orange-soft);
    --quaternary-soft-color: var(--pink-soft);
    --quinary-soft-color: var(--blue-soft);
    --senary-soft-color: var(--red-soft);

    --warning-soft-color: var(--orange-soft);
    --success-soft-color: var(--green-soft);
    --error-soft-color: var(--red-soft);
}


html {
    overflow-y: hidden;
}

body {
    /*background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));*/
    background: linear-gradient(to bottom, #f2f2f2, #e6e6e6);

    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    padding: 20px;
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom, #4eb5f1, #0186ba);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(to bottom, #0186ba, #4eb5f1);
}

a {
    margin-top: 10px;
    color: #0186ba;
    text-decoration: none;
    font-size: 14px;
}

.error-message {
    display: none;
    background-color: #ffd6d6;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.error-message p {
    color: #e60000;
    font-weight: bold;
    margin: 0;
}

.show-error {
    display: block;
}

.login-btn {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    color: var(--foreground-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background: var(--secondary-color);
    color: var(--background-color);
}

.login-icon {
    margin-top: 20px;
    text-align: center;
}

.login-icon a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.enter-login{
    margin-top: 20px;
    text-align: center;
}
